div {
    border: 1px solid black;
    height: 10px;
}
#header {
    position: relative;
    height: 32px;
    top: 30px;
}

#menu{
    position: sticky;
    top: 0;
}

#conteudo{
    height: 100vh;
}

#fotos{
    position: absolute;
    height: 50px;
    width: 50px;
    right: 0;
}