main {
    border: 1px solid black;
    max-width: 1000px;
    min-width: 500px;
    margin: 0 auto;
    background: url(waffle-com-morango-e-creme-de-avela-portal-minha-receita.webp) no-repeat center center/cover;
}

img {
    border: 1px solid black;
    max-width: 500px;
    height: 500px;
    margin: 0 auto;
    
    box-shadow: 5px 5px 10px rgba(248, 12, 12, 0.5);
}

h1 {
    text-align: center;
}
h2 {
    text-align: center;
}